@charset "UTF-8";

#wrap {
	width : 1200px;
}

#header {
	background-color: #FF7F50;	
}

#headLogo {
	text-decoration: none;
	color : white;
}

#headLogo:hover {
	text-decoration: none;
	color : white;
}

#nav {
	background-color: #FF7F50;
	font-size: 20px;
}

#item {
	margin-top : 10px;
	margin-right : 10px;
	width : 360px;
	height : 340px;
	border : solid #FF7F50;
}

#item:hover {
	background-color: #FFDACC;
}

#imgBoundary {
	margin : 13px;
}

#itemImg {
	width : 330px;
	height : 220px;
	object-fit: contain;
}

#goodsInfo {
	margin : 13px;
	font-weight : bold;
}

#goodsInfo > #goodsTitle {
	font-size : 20px;
}

#goodsInfo > #goodsPrice {
	font-size : 16px;
	color : grey;
}

#goodsInfo > #goodsSeller {
	font-size : 18px;
	color : #FF7F50;
}

#addForm {
	margin-top : 70px;
	margin-left : 100px;
	margin-right : 100px;
	margin-bottom : 100px;
}

#addForm > #addTitle {
	font-size : 50px;
}

#addSelect {
	width : 220px;
}

#addSubject {
	width : 450px;
}

#addTextarea > textarea {
	width : 100%;
	height : 200px;
}